<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class= "mb-3" id="add-name">
      <label for="inputName" class="user-form-label">Enter Name:</label>
      <input type="name" class="user-form-control" id="inputName">
    </div>
     <div class= "mb-3" id="add-email">
      <label for="inputEmail" class="user-form-label">Enter Email:</label>
      <input type="email" class="user-form-control" id="inputEmail">
    </div>
  </form>

  <div>
    <%= form.submit %>
  </div>
<% end %>
