<div class='container'>
  <p style="color: green"><%= notice %></p>
  <h1>Users</h1>
  <table class='table compact table-striped' id='users_table' data-source='<%= users_url(format: :json) %>'>
    <thead>
      <th>Name</th>
      <th>Email</th>
      <th>Mistake Count</th>
      <th>World</th>
      <th>World</th>
      <th>World</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <%= link_to "New user", new_user_path %>
</div>

