<div class='container'>
  <p style="color: green"><%= notice %></p>
  <h1>Users</h1>
  <table class='table compact table-striped' id='users' data-source='<%= users_url(format: :json) %>'>
    <thead>
      <th>ID</th>
      <th>Email</th>
      <th>Name</th>
      <th>Created At</th>
      <th>Mistakes</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>

    </tbody>
  </table>
  <%= link_to "New user", new_user_path %>
</div>