<div class='container'>
  <p style="color: green"><%= notice %></p>
  <h1>Mistakes</h1>
  <table class='table compact table-striped' id='mistakes' data-source='<%= mistakes_url(format: :json) %>'>
    <thead>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Severity</th>
      <th>Count</th>
    </thead>
    <tbody>
    </tbody>
  </table>
  <%= link_to "New misake", new_mistake_path %>
</div>