<h1>Editing mistake user</h1>

<%= render "form", mistake_user: @mistake_user %>

<br>

<div>
  <%= link_to "Show this mistake user", @mistake_user %> |
  <%= link_to "Back to mistake users", mistake_users_path %>
</div>
